<?xml version="1.0"?>
<launch>
    <param name="total_uav" value="5"/>
    <node pkg="sensor_fusion" type="target.py" name="target" required="True" output="screen">
	</node>
    

    <node pkg="sensor_fusion" type="noise.py" name="targetwithNoise" required="True" output="screen">
        <param name = "uav_id" value = "1"/>
	</node>
    <node pkg="sensor_fusion" type="noise.py" name="targetwithNoise" required="True" output="screen">
        <param name = "uav_id" value = "2"/>
	</node>
    <node pkg="sensor_fusion" type="noise.py" name="targetwithNoise" required="True" output="screen">
        <param name = "uav_id" value = "3"/>
	</node>
    <node pkg="sensor_fusion" type="noise.py" name="targetwithNoise" required="True" output="screen">
        <param name = "uav_id" value = "4"/>
	</node>
    <node pkg="sensor_fusion" type="noise.py" name="targetwithNoise" required="True" output="screen">
        <param name = "uav_id" value = "5"/>
	</node>

</launch>
    
   