<?xml version="1.0"?>
<launch>

    <node pkg="rosbag" type="play" name="rosbag" output="screen" args="--clock /home/branco/catkin_ws/src/sensor_fusion/sims/target_noise1681486648.bag"/>

    <param name="total_uav" value="1"/>



    
    <node pkg="sensor_fusion" type="kalman_filter.py" name="kalman_filter_1" required="True" args="total_uav" output="screen">
        <param name = "uav_id" value = "1"/>
    </node>
    <node pkg="sensor_fusion" type="kalman_filter.py" name="kalman_filter_2" required="True" args="total_uav" output="screen">
        <param name = "uav_id" value = "2"/>
    </node>
    <node pkg="sensor_fusion" type="kalman_filter.py" name="kalman_filter_3" required="True" args="total_uav" output="screen">
        <param name = "uav_id" value = "3"/>
    </node>


</launch>
    
   