<?xml version="1.0"?>
<launch>

    <arg name="ID" default="0"/>

  
    <node pkg="sensor_fusion" type="inbound.py" name="kalman_filter_$(arg ID)" required="True" args="total_uav" output="screen">
        <param name = "uav_id" value = "$(arg ID)"/>
    </node>

    <!-- <node pkg="topic_tools" type="throttle" name="throttle_$(arg ID)" required="True" output="screen" 
    args= "messages /uav$(arg ID)/target_position_geolocation 20 /uav$(arg ID)/target_position_throttle">   
    </node> -->


</launch>
    
   